.new-card-title {
    margin-bottom: 0.75rem;
    background-color: lavender;
    font-size: x-large;
    text-align: center;
}
.col-new-md{
    margin-top: 32px;
}
.thead{
    background-color: darkgray;
}