<div class="card">
    <div class="card-body">
        <h5 class="new-card-title" >Loan Details</h5>
        <div class="row g-3 needs-validation" novalidate>
            <div class="col-md-3">
                <label for="validationCustom01" class="form-label">Loan Number</label>
                <input class="form-control" type="text" [(ngModel)]="loanRecord.loanId"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom02" class="form-label">Applicant First Name</label>
                <input class="form-control" type="text" [(ngModel)]="loanRecord.applicantFirstName"
                   readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom02" class="form-label">Applicant Last Name</label>
                <input class="form-control" type="text" [(ngModel)]="loanRecord.applicantLastName"
                   readonly>
            </div>

            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Applicant Address</label>
                <input class="form-control" type="text" [(ngModel)]="loanRecord.applicantAddress"
                     readonly>
            </div>  

            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Loan Type</label>
                <input type="text" class="form-control" autocomplete="off" name="loanType"
                    [(ngModel)]="loanRecord.loanType" readonly>              
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Loan Amount</label>
                <input type="text" class="form-control" autocomplete="off" name="loanAmt"
                    [(ngModel)]="loanRecord.loanAmount" readonly>
               
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Loan Term</label>
                <input type="text" class="form-control" autocomplete="off" name="loanTerm"
                    [(ngModel)]="loanRecord.loanTerm" readonly>               
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Property Address</label>
                <input type="text" class="form-control" autocomplete="off" name="propertyAddress"
                    [(ngModel)]="loanRecord.propertyAddress" readonly>              
            </div>

            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Created Date</label>
                <input class="form-control" type="text" [(ngModel)]="loanExistingDate"
                     readonly>
            </div>
                 

        </div>
    </div>
</div>
