<div class="card">
    <div class="card-body">
        <h5 class="new-card-title" >Loan Details</h5>
        <div class="row g-3 needs-validation" novalidate>
            <div class="col-md-3">
                <label for="validationCustom01" class="form-label">Loan Number</label>
                <input class="form-control" type="text" [(ngModel)]="loanRecord.loanId"
                readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom02" class="form-label">Applicant Name</label>
                <input class="form-control" type="text" 
                   readonly>
            </div>

            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Lender</label>
                <input class="form-control" type="text" 
                     readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Applicant Address</label>
                <input class="form-control" type="text" 
                     readonly>
            </div>
            <!-- <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Destination</label>
                <input class="form-control" type="text" [(ngModel)]="BookingDetails.Destination"
                     readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Arrival Date</label>
                <input class="form-control" type="text" [(ngModel)]="flightDetails.startDateTime"
                     readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Departure Date</label>
                <input class="form-control" type="text" [(ngModel)]="flightDetails.endDateTime"
                    readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Total Seats</label>
                <input class="form-control" type="text" [(ngModel)]="BookingDetails.TotalSeat"
                     readonly>
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Ticket Cost</label>
                <input class="form-control" type="text" [(ngModel)]="flightDetails.ticketCost"
                    readonly>
            </div> -->
        </div>
    </div>
</div>
<hr>
<!-- <h2 class="new-card-title" >Passengers List</h2>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="body table-responsive">
            <table class="table table-condensed">
                <thead class="thead">
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Meal Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-green" *ngFor="let item of bookedPassengerDetails">
                        <td>{{item.passengerName}}</td>
                        <td>{{item.passengerGender}}</td>
                        <td>{{item.passengerAge}}</td>
                        <td>{{item.mealOption}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->