<div class="card">  
    <div class="card-body">
      <h5 class="new-card-title" >Search Loan Applications</h5>
        <form  #loandetails="ngForm" (ngSubmit)="GetLoanDetails(loandetails.value)" class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
              <label for="validationCustom01" class="form-label" >Enter Loan Number</label>
              <input type="text" class="form-control" id="validationCustom01" name="txtFromPlace" ngModel required>      
            </div>
            <!-- <div class="col-md-3">
              <label for="validationCustom02" class="form-label" >To Place</label>
              <input type="text" class="form-control" id="validationCustom02" name="txtToPlace" ngModel required>     
            </div>
         
            <div class="col-md-3" hidden>
              <label for="validationCustom03" class="form-label" >Date</label>
              <input type="text" class="form-control" id="validationCustom03" name="txtBoardingDate" ngModel required>     
            </div>
           
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Flight Number</label>
              <input type="text" class="form-control" id="validationCustom05"  name="txtFlightNumber" ngModel required>     
            </div> -->
            <div class="col-new-md">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </form>
    </div>
  </div>
<hr>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class="card">
        <div class="body table-responsive">
            <table class="table table-condensed">
                <thead class="thead">
                    <tr>
                        <th>Loan No.</th>
                        <th>Applicant Name</th>
                        <th>Address</th>
                        <th>Lender Name</th>
                        <th>Loan Amount</th>                      
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr class="bg-green" *ngFor="let item of filteredRecord">
                        <td>{{item.flightNumber}}</td>
                        <td>{{item.airline}}</td>
                        <td>{{item.fromPlace}}</td>
                        <td>{{item.toPlace}}</td>
                        <td>{{item.startDateTime}}</td>
                        <td>{{item.endDateTime}}</td>
                        <td>{{item.totalBussClassSeats}}</td>                        
                        <td>{{item.ticketCost}}</td>
                        <td><button class="btn btn-primary" (click)="GoToBookFlight(item)" type="submit">Book Flight</button></td>                     
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>

  